<p class="instructions">
    Click the <strong>type</strong>, <strong>status</strong>, or <strong>tag</strong> lines to toggle project visibility.
    Option-click (macOS), Alt-click (Window), or long-press (any platform) to toggle non-matching projects.
</p>

<section class="hide-checkboxes-and-dim-labels filter-controls stored-checkbox-state">
    <div class="column">
    {% set field_name = 'type' %}{% include '_parts/control-block.html' %}
    </div>
    <div class="column">
    {% set field_name = 'status' %}{% include '_parts/control-block.html' %}
    </div>
    <div class="column">
    {% set field_name = 'tag' %}{% include '_parts/control-block.html' %}
    </div>
</section>
