<p class="instructions">
    Click the <strong>type</strong>, <strong>status</strong>, or <strong>tag</strong> lines to toggle project visibility.
    Command-click or long-press to toggle non-matching projects.
</p>

<section class="hide-checkboxes-and-dim-labels filter-controls stored-checkbox-state">
    <div class="column">
    {% set field_name = 'type' %}{% include 'control-block.html' %}
    </div>
    <div class="column">
    {% set field_name = 'status' %}{% include 'control-block.html' %}
    {% set field_name = 'tag' %}{% include 'control-block.html' %}
    </div>
</section>
