<h2>Projects</h2>
<p class="instructions">
    Click the section headings to toggle section visibility.
    Command-click or long-press to show only the chosen section.
</p>

<p class="navigation bucket-navigation">
Jump to
{% for bucket in buckets | reverse %}
<a href="#b-{{bucket | urlize}}">{{bucket}}</a>
{% endfor %}
</p>

<table class="filterbox-data filter-type filter-status filter-meta">
<tr class="header">
  <th class="date"><span>Date</span></th>
  <th class="type" title="Type"><span>Ty</span></th>
  <th class="status" title="Status"><span>St</span></th>
  <th class="status" title="Version Control System"><span>VC</span></th>
  <th class="project"><span>Project</span></th>
  <th class="description"><span>Description</span></th>
</tr>

{% for bucket in buckets | reverse %}
<tbody class="collapsible-container stored-checkbox-state">
<tr id="b-{{bucket | urlize}}" class="bucket">
  <th colspan="5">
    {{ bucket }}
  </th>
</tr>
{% if config.alphabetic_project_sort | lower == 'true' %}
    {% set projectList = buckets[bucket] | sort(attribute='name', case_sensitive=False) %}
{% else %}
    {% set projectList = buckets[bucket] | sort(attribute='timestamp') | reverse %}
{% endif %}
{% for project in projectList %}
<tr class="project {{ project.css_class }}">
  
  <td class="date">{{ project.date | default(project.created) }}</td>
  {% if project.alt_type %}
  <td class="type alt-type" title="{{ project.type }} and {{ project.alt_type }}">
      {{ icons.type[project.alt_type] | default(icons.type.Unclassified) }}
      {{ icons.type[project.type] | default(icons.type.Unclassified) }}
  </td>
  {% elif project.type %}
  <td class="type" title="{{ project.type }}">{{ icons.type[project.type] | default(icons.type.Unclassified) }}</td>
  {% else %}
  <td class="type" title="None">{{ icons.type['None'] }}</td>
  {% endif %}
  
  {% if project.status %}
  <td class="status" title="{{ project.status }}">{{ icons.status[project.status] | default(icons.status.Unclassified) }}</td>
  {% else %}
  <td class="status" title="None">{{ icons.status['None'] }}</td>
  {% endif %}
  
  {% if project.versioning %}
  <td class="status" title="{{ project.versioning }}">{{ project.versioning }}</td>
  {% else %}
  <td class="status" title="None"></td>
  {% endif %}
  
  <td class="project">{{ project.name }}</td>
  <td class="description">
  {% if 'favorite' in project.tags %}❤️ {% endif %}
  {{ project.description }}
  </td>
</tr>
{% endfor %}
</tbody>
{% endfor %}

</table>
