/* general styles */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    max-width: 120ex;
    margin: 1em auto;
    padding: 0 1em;
}
body, td, th {
    font-size: 10pt;
}
h2 {
    text-align: leading;
}
h3, th {
    font-size: 12pt;
}
h3 {
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}
p {
    margin-block-end: 0.5em;
}
p + ul {
    margin-block-start: 0.5em;
}

{% include 'hide-checkboxes-and-dim-labels.css' %}
/* styles related to the row-visibility controls */

p.instructions {
    font-style: italic;
    font-size: smaller;
    color: gray;
}

section.filter-controls {
    display: flex;
    flex-direction: row;
}

section.filter-controls ul {
    padding-left: 0;
}

section.filter-controls li {
    list-style-type: none;
    padding-left: 2em;
}
section.filter-controls li label > :first-child {
    margin-left: -2em
}

section.filter-controls label {
    display: inline-block;
    padding-left: 2em;
}
section.filter-controls label:before {
    margin-left: -2em;
}

section.filter-controls input,
section.filter-controls label {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}


/* styles that apply to both tables and flexbox */

.bucket-navigation a {
    color: inherit;
}
.bucket-navigation a:hover {
    color: blue;
}

div.project:hover, tr.project:hover {
    background: wheat;
}


/* styles related to the project flexbox */

div.project {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

div.project > span {
    margin-right: 0.5ex;
}

div.project .date {
    width: 13ex;
    flex-grow: 0;
    flex-shrink: 0;
}
div.project .type {
    width: 3ex;
    flex-grow: 0;
    flex-shrink: 0;
}
.has-alt-types div.project .type {
    width: 7ex;
    text-align: center;
}
div.project .status {
    width: 3ex;
    flex-grow: 0;
    flex-shrink: 0;
}
div.project .versioning {
    width: 3ex;
    flex-grow: 0;
    flex-shrink: 0;
}
div.project .name {
    width: 30ex;
    flex-grow: 1;
}
div.project .description {
    width: 70ex;
    flex-grow: 1;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    div.project {
        flex-wrap: wrap;
        margin-bottom: 1em;
    }
    div.project .description {
        font-style: italic;
        color: #444;
    }
}

/* styles related to the project table */

table {
    border-collapse: separate;
    border-spacing: 0em 0.5em;
}
tr {
    min-height: 2em;
}
th {
    text-align: left;
}
tr.bucket th {
    padding-top: 0.5em;
}
td {
    vertical-align: text-top;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

td.date {
    white-space: nowrap;
    text-align: right;
    max-width: 12ex;
}
td.type {
    text-align: right;
}
td.alt-type {
    min-width: 4em;
    text-align: right;
}

ul.filterbox-controls {
    padding-left: 1.5em;
}
ul.filterbox-controls li {
    min-height: 2em;
}
ul.filterbox-controls li input + label:before {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

input.new + label, .new {
    color: darkgreen;
}
input.missing + label, .missing {
    color: #766;
}

.error {
    color: #c00;
}

.copyright {
    font-size: smaller;
    text-align: right;
}

.focus-new-true tr,
.focus-missing-true tr {
    display: none;
}
.focus-new-true tr.new,
.focus-missing-true tr.missing {
    display: table-row;
}
